<div class="row">
  <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 ">
    <div class="tile-stats">
      <div class="count">
        <!-- TODO
        Calculate total invested -->
        <!-- totals.totInvested = [orders.price * orders.amount] -->
        <%='$'+totals.totInvested%>
      </div>
      <h3>Total Invested</h3>
    </div>
  </div>
  <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 ">
    <div class="tile-stats">
      <div class="count">
        <%='$'+totals.totPrice%>
      </div>
      <h3>Current Value</h3>
    </div>
  </div>
  <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 ">
    <div class="tile-stats">
      <div class="count">1,27%</div>
      <h3>Growth</h3>
    </div>
  </div>
  <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 ">
    <div class="tile-stats">
      <div class="count">
        <%='$'+totals.totPrice - totals.totInvested%> >
      </div>
      <h3>Current Return</h3>
    </div>
  </div>
  <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 ">
    <div class="tile-stats">
      <div class="count">
        <%=totals.divPercent%>
      </div>
      <h3>Yield</h3>
    </div>
  </div>
  <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 ">
    <div class="tile-stats">
      <div class="count">
        <%='$'+totals.totDiv%>
      </div>
      <h3>Dividend</h3>
    </div>
  </div>
  <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 ">
    <div class="tile-stats">
      <div class="count">72</div>
      <h3>Payments per year</h3>
    </div>
  </div>
  <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 ">
    <div class="tile-stats">
      <div class="count">2 Days</div>
      <h3>Next Payment</h3>
    </div>
  </div>
</div>